<html xmlns:th="www.thymeleaf.org">

<head>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <title>Spring Boot Facebook Application</title>
</head>
<body>
<div class="container">

    <!--<h3 class="mt-5">Welcome, <span th:text="${userProfile.name}"></span>!</h3>-->

    <h4 class="mt-5">Facebook friends:</h4>
    <div class="row">
        <div class="col-lg-12 text-center" th:each="friend:${friends}" style="border:1px">
            <b class="lead" th:text="${friend.name}">friends</b>
            <hr>
        </div>
    </div>
</div>
</div>
</body>
</html>
